<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="all_forms" id="all_forms">
      <form action="" method="POST" name="lxc" id="lxc" class="form">
          {% csrf_token %}
       <label for="" id="mt_lb">Select Meter Category:</label>
     <select name="meter_cat" id="meter_cat" style="width:20%;" >
            <option value=""selected disabled>Select category</option>
            <option value="sub">Substaion Meter</option>
             <option value="ipp">IPP Meter</option>
             <option value="stand">Standalone Meter</option>
        </select>
        <br>
        <br>
    </form>

<!--    SUBSTATION CONFIG FORM-->
    <form action="{% url 'EM_sub_details' %}" method="POST" name="sub_det" id="sub_det" class="form" enctype="multipart/form-data">
          {% csrf_token %}
        <br>
        <br>
          <label for="" >Select Substation:</label>
     <select name="sub_list" id="sub_list" style="width:25%;" >
            <option value=""selected disabled>Select substation</option>
        </select>
        <label for="" >Feeder Name:</label>
        <select name="feed_name" id="feed_name" >
            <option value=""selected disabled>Select feeder</option>

        </select>
        <br>
        <br>
        <label for="">Main Meter Config File</label>
        <input type="file" id="main_config" name="main_config" >
        <br>
        <label for="">Check Meter Config File</label>
        <input type="file" id="check_config" name="check_config" >
        <br>
        <br>
        <button type="submit">Submit</button>
        <br>
        <br>
    </form>

<!--    IPP FORM-->
        <form action="{% url 'EM_ipp_details' %}" method="POST" name="ipp_det" id="ipp_det" class="form" enctype="multipart/form-data">
          {% csrf_token %}
            <br>
            <br>
          <label for="" >Select IPP:</label>
     <select name="ipp_list" id="ipp_list" style="width:20%;" >
            <option value=""selected disabled>Select IPP</option>
        </select>
        <label for="" >Feeder Name:</label>
        <select name="feed_name_ipp" id="feed_name_ipp" >
            <option value=""selected disabled>Select feeder</option>

        </select>
        <br>
            <br>
             <label for="">Main Meter Config File</label>
        <input type="file" id="main_config_ipp" name="main_config_ipp" >
        <br>
        <label for="">Check Meter Config File</label>
        <input type="file" id="check_config_ipp" name="check_config_ipp" >
        <br>
            <br>
        <button type="submit">Submit</button>
            <br>
            <br>
    </form>

    <!--STANDALONE FORM-->
    <form action="{% url 'EM_stand_details' %}" method="POST" name="stand_det" id="stand_det" class="form" enctype="multipart/form-data">
          {% csrf_token %}
        <br>
        <br>
          <label for="" >Select District:</label>
     <select name="dist_list" id="dist_list" style="width:20%;">
            <option value=""selected disabled>Select District</option>
        </select>
        <label for="" >Feeder Name:</label>
        <select name="feed_name_stand" id="feed_name_stand" >
            <option value=""selected disabled>Select feeder</option>
        </select>
        <br>
        <br>
         <label for="">Main Meter Config File</label>
        <input type="file" id="main_config_st" name="main_config_st" >
        <br>
        <br>
        <label for="">Check Meter Config File</label>
        <input type="file" id="check_config_st" name="check_config_st" >
        <br>
        <br>
        <button type="submit">Submit</button>
        <br>
        <br>
    </form>
</div>
</body>
</html>
<style>
body{background-color: #F4F6F6;}
#sub_det, #ipp_det,#stand_det{display:none}
  select{width:30%;font-size:1.5em;}
    label{font-size:1.5em;}
    button {width:20%; margin-left:10%;font-size:1.5em; padding:5px;border:2px solid crimson;}
     button:hover{color:white; background:crimson; border:crimson;}
     .meter_cat select{width:15%;}
     .all_forms{text-align:center;padding-top:50px;}
#check_config_st,#main_config_st,#check_config_ipp,#main_config_ipp,
#main_config,#check_config{padding:5px;width:40%;font-size:1.2em;}
#sub_det, #ipp_det,#stand_det{width:70%;background-color:#CCD1D1;margin:auto;border-radius:20px;padding:10px;}
</style>
<script>

   //LIST OF IPPs, SUBSTATIONS AND STANDALONE METERS
var ipps = {{ final_ipp_listall|safe }};
var subs = {{ final_sub_listall|safe }};
var stand_list = {{ final_stand_listall|safe }};

document.getElementById('meter_cat').addEventListener("change", function() {
var x = this.value;
if (x == 'sub'){
document.getElementById('sub_det').style.display = "block";
document.getElementById('ipp_det').style.display = "none";
document.getElementById('stand_det').style.display = "none";
var select = document.getElementById("sub_list");
for (var i = 0; i<subs.length; i++){
var option = document.createElement("OPTION"),
txt = document.createTextNode(subs[i]);
option.appendChild(txt);
select.insertBefore(option,select.lastChild);
}
}
if (x == 'ipp'){
document.getElementById('ipp_det').style.display = "block";
document.getElementById('sub_det').style.display = "none";
document.getElementById('stand_det').style.display = "none";
var select = document.getElementById("ipp_list");
for (var i = 0; i<ipps.length; i++){
var option = document.createElement("OPTION"),
txt = document.createTextNode(ipps[i]);
option.appendChild(txt);
select.insertBefore(option,select.lastChild);
}
}
if (x == 'stand'){

document.getElementById('stand_det').style.display = "block";
document.getElementById('ipp_det').style.display = "none";
document.getElementById('sub_det').style.display = "none";
var select = document.getElementById("dist_list");
for (var i = 0; i<stand_list.length; i++){
var option = document.createElement("OPTION"),
txt = document.createTextNode(stand_list[i]);
option.appendChild(txt);
select.insertBefore(option,select.lastChild);
}
}
});


//AJAX CALL

<!--CRSF TOKEN-->
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

const request = new Request(
<!--    /* URL */,-->
    {headers: {'X-CSRFToken': csrftoken}}
);

<!--SUBSTATION FUNCTIONS SINGLE DAY-->

document.getElementById('sub_list').addEventListener("change", function() {
var selected_sub = this.value;
console.log(selected_sub);
$.ajax({
"type":"POST",
"url":'feeder_list',
"dataType":"json",
data:{'selected_sub':selected_sub,},
"headers": { "X-CSRFToken": getCookie("csrftoken") },
success:function(data) {
          //your returned python list
          new_list = data['finals']
          <!--//Now, loop through the new_list and append these items wrapped in <li> tags to your ul. -->
          console.log(new_list);
          var select = document.getElementById("feed_name");
          var i, L = select.options.length - 1;
   for(i = L; i >= 1; i--) {
      select.remove(i);}
for (var i = 0; i<new_list.length; i++){
var option = document.createElement("OPTION"),
txt = document.createTextNode(new_list[i]);
option.appendChild(txt);
select.insertBefore(option,select.lastChild);}
          }
});
});

<!--IPP FUNCTIONS SINGLE DAY-->
document.getElementById('ipp_list').addEventListener("change", function() {
var selected_ipp = this.value;
console.log(selected_ipp);
$.ajax({
"type":"POST",
"url":'ipp_feeder_list',
"dataType":"json",
data:{'selected_ipp':selected_ipp,},
"headers": { "X-CSRFToken": getCookie("csrftoken") },
success:function(data) {
          //your returned python list
          new_list = data['finals_ipp']
          <!--//Now, loop through the new_list and append these items wrapped in <li> tags to your ul. -->
          console.log(new_list);
          var select = document.getElementById("feed_name_ipp");
          var i, L = select.options.length - 1;
   for(i = L; i >= 1; i--) {
      select.remove(i);}
for (var i = 0; i<new_list.length; i++){
var option = document.createElement("OPTION"),
txt = document.createTextNode(new_list[i]);
option.appendChild(txt);
select.insertBefore(option,select.lastChild);}
          }
});
});


<!--STANDALONE FUNCTIONS SINGLE DAY-->
document.getElementById('dist_list').addEventListener("change", function() {
var selected_dist = this.value;
console.log(selected_dist);
$.ajax({
"type":"POST",
"url":'stand_feeder_list',
"dataType":"json",
data:{'selected_dist':selected_dist,},
"headers": { "X-CSRFToken": getCookie("csrftoken") },
success:function(data) {
          //your returned python list
          new_list = data['finals_stand']
          <!--//Now, loop through the new_list and append these items wrapped in <li> tags to your ul. -->
          console.log(new_list);
          var select = document.getElementById("feed_name_stand");
          var i, L = select.options.length - 1;
   for(i = L; i >= 1; i--) {
      select.remove(i);}
for (var i = 0; i<new_list.length; i++){
var option = document.createElement("OPTION"),
txt = document.createTextNode(new_list[i]);
option.appendChild(txt);
select.insertBefore(option,select.lastChild);}
          }
});
});

</script>