<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill Success</title>
</head>
<body>
<h1>Bill Submitted Successfully</h1>

<a href="umeme"><button>Generate Another Bill</button></a>
<a href="welcome"><button>Back to Home</button></a>
</body>
</html>
<style>
     h1{text-align: center; color: green; margin: auto; padding:100px;}
    button{font-size: 2em; width: 40%; padding: 5px; border: 2px solid green;
    margin-left: 30%; margin-top: 2em;}
    button:hover{color:white; background:crimson; border:crimson;}
</style>
