<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'bill_gen' %}" method="post">
 {% csrf_token %}

<label for="">Meter No.</label>
    <select name="meter_no" id="meter_no" >
        <option value="start" selected>Select Meter No</option>
        {% for x in meters_umeme %}
            <option value= "{{x}}" SELECTED>{{x}}</option>
         {% endfor %}
        </select>
    <label for="">Month</label>
    <select name="month" id="month" >
        <option value="start" selected>Select Month</option>
        {% for y in month_list %}
            <option value= "{{y}}" SELECTED>{{y}}</option>
         {% endfor %}
        </select>
    <label for="">Year</label>
     <select name="year" id="year" >
        <option value="start" selected>Select Year</option>
        {% for y in year_list %}
            <option value= "{{y}}" SELECTED>{{y}}</option>
         {% endfor %}
        </select>
<!--<label for="">Month and Year</label>-->
<!--    <input type="text" id="bill_date" name="bill_date" value="{{bill_date}}" >-->

<button type="submit" value="bill_gen">Generate Bill</button>

</form>
</body>
</html>

<style>
.gen_bill{text-align:center;}
    select, input{width:15%;font-size:1.2em;padding:5px;text-align:center;margin:2em;}
    label{font-size:1.5em;}
    button{font-size: 1.5em; width: 25%; padding: 5px; border: 2px solid crimson;
    margin-left: 5%; margin-top: 1em;text-align:center;}
    button:hover{background:crimson;color:white;border:none;}
</style>