<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'bill_gen' %}">
<div class="gen_bill">
   <!-- <label for="">Distributor</label>
<select name="dist" id="dist" >
    <option value="start" selected>Select Distributor</option>
        {% for distributor in distributors %}
    &lt;!&ndash;<option value="none" selected>Enter Distributor</option>&ndash;&gt;
            <option value= "{{distributor}}" SELECTED>{{distributor}}</option>
         {% endfor %}
        </select>-->
<label for="">Meter No.</label>
    <select name="meter_no" id="meter_no" >
        <option value="start" selected>Select Meter No</option>
        {% for x in meters_umeme %}
            <option value= "{{x}}" SELECTED>{{x}}</option>
         {% endfor %}
        </select>
<label for="">Month and Year</label>
    <input type="text" value="{{bill_date}}">
    <!--<select name="month" id="month" >
        <option value="start" selected>Select Month</option>
        {% for month in months %}
            <option value= "{{month}}" SELECTED>{{month}}</option>
         {% endfor %}
        </select>-->
<!--<label for="">Year</label>
    <select name="year" id="year" >
        <option value="start" selected>Select Year</option>
        {% for year in years %}
            <option value= "{{year}}" SELECTED>{{year}}</option>
         {% endfor %}
        </select>-->
<button type="submit" value="bill_gen">Generate Bill</button>



</div>
</form>
</body>
</html>

<style>
.gen_bill{text-align:center;}
    select, input{width:15%;font-size:1.2em;padding:5px;text-align:center;margin:2em;}
    label{font-size:1.5em;}
    button{font-size: 1.5em; width: 25%; padding: 5px; border: 2px solid crimson;
    margin-left: 5%; margin-top: 1em;text-align:center;}
    button:hover{background:crimson;color:white;border:none;}
</style>