<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="one">
    <div id="two"></div>
    <div id="three"></div>
</div>
<!--<div class="ajax-loader">-->
<!--  <img src="media/load.gif" class="img-responsive" />-->
<!--      <img src="media/logo.jpg" class="img-responsive" />-->


<!--</div>-->
</body>
</html>
<style>
#two{height:500px;background:red;width:600px;}
#three{height:300px;background:blue;width:600px;position: relative;
  top: -400px;}

</style>