  {% load static %}
<head>
<link rel="stylesheet" href="static/css/index_css.css">
</head>

<html>
<body>
<div class="home-login">
    <div class="heading">
    <h1>Welcome to UETCL EMIS</h1>
</div>
    <form id="kimera" action="{% url 'welcome' %}" method="POST" class="form" >
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <br>
    <br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
           title="Password must be at least 8 or more characters long,contain at least one number, one uppercase and lowercase letter" required>

        <br>
 <h4 id="error" style="margin-left:2%;color:red;font-size:1.5em;"></h4>
        <h4 id="error1" style="margin-left:2%;color:red;font-size:1.5em;">{{error}}</h4>

       <button type="submit" id="sub_button" >Log In</button>
        <br>
        <a href=""><h4>Forgot Password?</h4></a>
</form>

</div>

</body>
<div class="footer">
    Developed by JKM TECHNOLOGIES (U) LTD In Conjunction With UETCL
    <br>
    (c) 2020 JKM Technologies. All rights reserved

</div>
</html>
 