
<body>
<div class="home-login">
    <div class="heading">
    <h1>Welcome to UETCL EMIS</h1>
</div>
    <form id="kimera" action="{% url 'welcome' %}" method="POST" class="form" >
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <br>
    <br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
           title="Password must be at least 8 or more characters long,contain at least one number, one uppercase and lowercase letter" required>

        <br>
 <h4 id="error" style="margin-left:2%;color:red;font-size:1.5em;"></h4>
        <h4 id="error1" style="margin-left:2%;color:red;font-size:1.5em;">{{error}}</h4>

       <button type="submit" id="sub_button" >Log In</button>
        <br>
        <a href=""><h4>Forgot Password?</h4></a>
</form>

</div>
<div class="footer">
    Developed by JKM TECHNOLOGIES (U) LTD In Conjunction With UETCL
    <br>
    (c) 2020 JKM Technologies. All rights reserved

</div>
</body>

<style>

 .home-login .heading h1{margin-top:auto;text-align: center;}
 .form{padding-top:40px;}

    .home-login{ width: 30%; margin: auto; height: 600px;border: 2px solid green; text-align: left;
    justify-content: center;margin-top: 5%; }
    .heading{width:100%; background:#4CAF50; height:70px;text-align:center;padding-top:20px;}

    input { margin:auto; align-item: center; font-size:2em; margin-left: 2%;width:95%;border: 2px solid green;}
    .home-login label{align:left;font-size:2em;margin-left:2%;}
    button{font-size: 2em; width: 90%; padding: 5px; border: 2px solid green;
    margin-left: 5%; margin-top: 1em;background:#4CAF50;}
    /*button:hover{color:white; background:crimson; border:crimson;}*/
    h4{font-size:1.2em;text-align:center;}
    .footer{background:#4CAF50;height:50px;position:absolute;text-align:center;width:100%;margin-top:5em;}

</style>