<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>FILES NOT SUBMITTED</h1>
<h2>{{error}}</h2>
<h2>{{warning}}</h2>

<a href="new_submission"><button type="submit" >Resubmit the Record</button></a>
</body>
</html>

<style>
    h1{text-align: center; color: green; margin: auto; padding:100px;}
    h2{text-align:center;}
    button{font-size: 2em; width: 40%; padding: 5px; border: 2px solid green;
    margin-left: 30%; margin-top: 2em;}
    button:hover{color:white; background:crimson; border:crimson;}

</style>