<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Querries</title>
</head>
<body>
<!--<h1>This page is being developed</h1>-->

<a href="LP_plot"><button type="submit" value="LP_plot">Load Profiles</button></a>
<br>
<a href="querriesback"><button type="submit" value="querriesback">Back to Home</button></a>

<a href="homepage"><button type="submit" >Log Out</button></a>
</body>
</html>
<style>

    body{margin:auto;text-align:center;padding-top:15%;}
    button{font-size: 2em; width: 40%; padding: 5px; border: 2px solid green;
     margin-top: 2em;margin-left:5%;}
     button:hover{color:white; background:crimson; border:crimson;}
     h1{font-size:3.5em;}
</style>