<div class="container">
    <form action="{% url 'sub_meterrecord' %}" name="sub_newmeter" id="sub_newmeter" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <thead>
            <tr>
                <th colspan="4"><h2>UETCL SUBSTATION METER DETAILS</h2></th>
            </tr>
            <tr>
                <th colspan="4" style="font-size:1.5em;">LOCATION:</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Substation:</td>
                <td><input type="text" name="sub" id="sub" placeholder="Eg Lugogo " maxlength="15"></td>
                <td>Voltage (kV) :</td>
                <td><input type="text" name="voltage" id="voltage" PLACEHOLDER="Eg 132/33/11 kV" maxlength="15"></td>
            </tr>
            <tr>
              <td>District:</td>
                <td><input type="text" name="sub_dist" id="sub_dist" maxlength="15"></td>
                 <td>Region:</td>
                <td><input type="text" name="sub_region" id="sub_region" maxlength="15"></td>
            </tr>
            <td>Coordinates (X)</td>
                <td><input type="text" name="sub_cord_x" id="sub_cord_x" maxlength="10"></td>
                 <td>Coordinates (Y)</td>
                <td><input type="text" name="sub_cord_y" id="sub_cord_y" maxlength="10"></td>
            </tr>
            <tr>
               <th colspan="4" style="font-size:1.2em;">FEEDER DETAILS,OWNER AND DISTRIBUTORS:</th>
        <tr>
                  <td>Component:</td>
               <td colspan="1">
          <select name="comp" id="comp" >
            <option value="none" selected disabled hidden>Select Component type</option>
                    <option value="TX">Transformer</option>
          <option value="T/Line">Power Line</option>
              <option value="others">Others</option>
        </select>
        </td>
                        <td>Capacity (MVA):</td>
     <td><input type="text" name="capacity" id="capacity" maxlength="7"></td>
            </tr>

            <tr>
                 <td>Network Type:</td>
               <td colspan="1">
          <select name="net_type" id="net_type" >
            <option value="none" selected disabled hidden>Select Network type</option>
                    <option value="ring">Ring</option>
          <option value="radial">Radial</option>
        </select>
        </td>

                <td>Component Name:</td>
                <td><input type="text" name="sub_feeder" id="sub_feeder" maxlength="35"></td>

            </tr>
            <tr>
                 <td>Component Voltage (kV):</td>
                <td><input type="number" name="sub_feeder_voltage" id="sub_feeder_voltage" maxlength="5"></td>

                <td>Meter Owner:</td>
                <td><input type="text" name="sub_meter_owner" id="sub_meter_owner" maxlength="15"></td>

            </tr>
            <tr>
                 <td>Distributor:</td>
                <td><input type="text" name="distributor" id="distributor" maxlength="15"></td>
                <td>Comments:</td>
                <td colspan="3"><input type="text"  name="subs_contractor" id="subs_contractor" maxlength="30"></td>

            </tr>
            <tr>
               <th colspan="4" style="font-size:1.3em;">CT AND VT DETAILS:</th>
            </tr>
            <tr>
                <td>CT Manufacturer</td>
                <td><input type="text" name="sub_ct_manu" id="sub_ct_manu" maxlength="25"></td>
                <td>Type:</td>
                <td><input type="text" name="sub_ct_type" id="sub_ct_type" maxlength="15"></td>
            </tr>

            <tr>
                <td>No. of Metering CT cores</td>
                <td><input type="number" name="sub_ct_cores" id="sub_ct_cores" maxlength="3"></td>
                <td>CT Core ratios</td>
                <td><input type="text" name="sub_ct_core_ratios" maxlength="20"></td>
            </tr>
            <tr>
                <td>CT core Used</td>
                <td><input type="text" name="sub_core_used" id="sub_core_used" maxlength="10"></td>
                <td>Accuracy class</td>
                <td><input type="text" placeholder="Class of wired CT core" name="sub_accuracy_class" id="sub_accuracy_class" maxlength="5"></td>
            </tr>
            <tr>
                <td>No. of Available spares</td>
                <td><input type="text" name="sub_avail_spares" id="sub_avail_spares" maxlength="3"></td>
                <td>Spares Class</td>
                <td><input type="text" placeholder="avail spare CT cores" name="sub_spares_class" id="sub_spares_class" maxlength="10"></td>
            </tr>
             <tr>
                <td>VT Manufacturer</td>
                <td><input type="text" name="sub_vt_manu" id="sub_vt_manu" maxlength="15"></td>
                <td>Type:</td>
                <td><input type="text" name="sub_VT_type" id="sub_VT_type" maxlength="15"></td>
            </tr>
                   <tr>
                        <td>VT Ratio</td>
                <td><input type="text" name="sub_vt_ratio" id="sub_vt_ratio" maxlength="10"></td>
                       <td>VT Accuracy</td>
                <td><input type="text" name="sub_vt_accuracy" id="sub_vt_accuracy" maxlength="5"></td>
                   </tr>

               <th colspan="4" style="font-size:1.3em;">MAIN ENERGY METER DETAILS:</th>
            </tr>
            <tr>
                <td>Manufacturer</td>
                <td><input type="text" name="sub_meter_manu" id="sub_meter_manu" maxlength="15"></td>
                <td>Type:</td>
                <td><input type="text" name="sub_meter_type" id="sub_meter_type" maxlength="15"></td>
            </tr>
             <tr>
                <td>Meter No</td>
                <td><input type="text" name="sub_meter_no" id="sub_meter_no" maxlength="15"></td>
                <td>Y.O.M</td>
                <td><input type="text" placeholder="Year of Manufacture" name="sub_YOM" id="sub_YOM" maxlength="15"></td>
            </tr>
             <tr>
                <td>Accuracy Class</td>
                <td><input type="text" name="sub_meter_acc_class" id="sub_meter_acc_class" maxlength="5"></td>
                  <td>No. Of Elements:</td>
               <td colspan="1">
          <select name="sub_meter_elements" id="sub_meter_elements" >
            <option value="none" selected disabled hidden>No. Of Elements</option>
              <option value="N/A">N/A</option>
          <option value="3-Element">3-Element</option>
          <option value="2-Element">2-Element</option>
        </select>
        </td>

            </tr>
            <tr>
                  <td>Wired as:</td>
               <td colspan="1">
          <select name="sub_meter_wire" id="sub_meter_wire" >
            <option value="none" selected disabled hidden>Type of wiring</option>
              <option value="N/A">N/A</option>
          <option value="3-Element">3-Element</option>
          <option value="2-Element">2-Element</option>
        </select>
        </td>
                <td>Installation date</td>
                <td><input type="date" name="sub_meter_install_date" id="sub_meter_install_date" maxlength="12"></td>

            </tr>
             <tr>
                  <td>Decommissioning date</td>
                <td><input type="date" placeholder="Proposed Decomissioning date" name="sub_meter_decom_date" id="sub_meter_decom_date" maxlength="12"></td>
                <td>Access</td>
                   <td colspan="1">
          <select name="sub_meter_access" id="sub_meter_access" >
            <option value="none" selected disabled hidden>Meter Access</option>
              <option value="N/A">N/A</option>
          <option value="remote">Remote</option>
          <option value="local">Local</option>
        </select>
                   </td>
            <tr>
                <td>IP Address</td>
                <td><input type="text" name="sub_ip_address" id="sub_ip_address" maxlength="20"></td>
             <td>Avail Interfaces</td>
                <td><input type="text" placeholder="Ethernet,optical eye,VGA" name="sub_meter_interfaces" id="sub_meter_interfaces" maxlength="40"></td>
            </tr>
            <tr>
                <td>Communication Protocols</td>
                <td><input type="text" placeholder="Protocols eg GSM, TCP/IP" name="sub_meter_comm_protocols" id="sub_meter_comm_protocols" maxlength="20"></td>
                <td>Protocol Used</td>
                <td><input type="text" placeholder="Protocols eg GSM, TCP/IP" name="sub_meter_protocol_used" id="sub_meter_protocol_used" maxlength="10"></td>
            </tr>

             <tr>
               <th colspan="4" style="font-size:1.3em;">CHECK METER DETAILS:</th>
            </tr>
            <tr>
                <td>Manufacturer</td>
                <td><input type="text" name="sub_meter_manu_ch" id="sub_meter_manu_ch" maxlength="15"></td>
                <td>Type:</td>
                <td><input type="text" name="sub_meter_type_ch" id="sub_meter_type_ch" maxlength="15"></td>
            </tr>
             <tr>
                <td>Meter No</td>
                <td><input type="text" name="sub_meter_no_ch" id="sub_meter_no_ch" maxlength="15"></td>
                <td>Y.O.M</td>
                <td><input type="text" placeholder="Year of Manufacture" name="sub_YOM_ch" id="sub_YOM_ch" maxlength="15"></td>
            </tr>
             <tr>
                <td>Accuracy Class</td>
                <td><input type="text" name="sub_meter_acc_class_ch" id="sub_meter_acc_class_ch" maxlength="5"></td>
                  <td>No. Of Elements:</td>
               <td colspan="1">
          <select name="sub_meter_elements_ch" id="sub_meter_elements_ch" >
            <option value="none" selected disabled hidden>No. Of Elements</option>
              <option value="N/A">N/A</option>
          <option value="3-Element">3-Element</option>
          <option value="2-Element">2-Element</option>
        </select>
        </td>

            </tr>
            <tr>
                      <td>Wired as:</td>
               <td colspan="1">
          <select name="sub_meter_wire_ch" id="sub_meter_wire_ch" >
            <option value="none" selected disabled hidden>Type of wiring</option>
              <option value="N/A">N/A</option>
          <option value="3-Element">3-Element</option>
          <option value="2-Element">2-Element</option>
        </select>
        </td>
                <td>Installation date</td>
                <td><input type="date" name="sub_meter_install_date_ch" id="sub_meter_install_date_ch" maxlength="12"></td>

            </tr>
             <tr>
                  <td>Decommissioning date</td>
                <td><input type="date" placeholder="Proposed Decomissioning date" name="sub_meter_decom_date_ch" id="sub_meter_decom_date_ch" maxlength="12"></td>
                <td>Access</td>

                   <td colspan="1">
          <select name="sub_meter_access_ch" id="sub_meter_access_ch" >
            <option value="none" selected disabled hidden>Meter Access</option>
              <option value="N/A">N/A</option>
          <option value="remote">Remote</option>
          <option value="local">Local</option>
        </select>
                   </td>
            </tr>
            <tr>
                <td>IP Address</td>
                <td><input type="text" name="sub_ip_address_ch" id="sub_ip_address_ch" maxlength="20"></td>
                 <td>Avail Interfaces</td>
                <td><input type="text" placeholder="Ethernet,optical eye,VGA" name="sub_meter_interfaces_ch" id="sub_meter_interfaces_ch" maxlength="40"></td>
            </tr>
            <tr>
                <td>Communication Protocols</td>
                <td><input type="text" placeholder="Protocols eg GSM, TCP/IP" name="sub_meter_comm_protocols_ch" id="sub_meter_comm_protocols_ch" maxlength="15"></td>
                <td>Protocol Used</td>
                <td><input type="text" placeholder="Protocols eg GSM, TCP/IP" name="sub_meter_protocol_used_ch" id="sub_meter_protocol_used_ch" maxlength="10"></td>
            </tr>
            <tr>
            <tr>
                   <td style="font-weight:bold" colspan="2">MAIN METER CONFIGURATION FILE:</td>
        <td colspan="2"><input type="file" name="config_file" id="config_file"></td>
            </tr>
            <tr>
                   <td style="font-weight:bold" colspan="2">CHECK METER CONFIGURATION FILE:</td>
        <td colspan="2"><input type="file" name="config_file_ch" id="config_file_ch"></td>
            </tr>
            </tbody>
        </table>

          <button type="submit">Submit</button>
    </form>
</div>
<style>
    body{background-color: #F2F7F9;}
    table, th, td {
  border: 1px solid black;
}
tr{height:20px;font-size:1.2em;}
table{width:90%; margin:auto;}
input {font-size:1.2em;
    width: 100%;
    box-sizing: border-box;
    text-align: center; background-color: #F2F7F9;
}

select {width:100%; border:0; background-color: #F2F7F9;}
button{font-size: 2em; width: 45%; padding: 5px; border: 2px solid green; border-radius: 20px;
    margin-left: 30%; margin-top: 1em;}
    button:hover{color:white; background:crimson; border:crimson;}
    form{border:2px solid black; padding:20px}
</style>
<script>
       document.querySelector("#sub_newmeter tbody").addEventListener("keypress", function(event) {
   if (event.target !== event.currentTarget) {
        var clickedItem = event.target.id;
        var Len2 = event.target.maxLength;
        var len = event.target.value.length;
        if (len >= Len2){alert("Maximum character length reached")}
    }
    event.stopPropagation();
});

</script>