
<h1 id="demo"></h1>

<input type="text" id="kkl">
<button type="submit" onclick="myFunction()">submit</button>
<select name="" id="kimx">
    <option value=""selected disabled></option>
    <option value="kil">kil</option>
     <option value="kxxx">kxxx</option>
</select>
<select name="" id="kalema">
    <option value=""selected disabled></option>
    <option value="kalll">kil</option>
     <option value="minz">kxxx</option>
</select>
<script>
var alter  = ['kintu','kalema']
document.getElementById("kkl").value = alter[0];


function myFunction() {
  document.getElementById("demo").innerHTML = "Hello World";

}
document.getElementById('kimx').addEventListener("change", function() {
x = this.value;
console.log(x);
});
document.getElementById('kalema').addEventListener("change", function() {
l = this.value;
console.log(l);
});
</script>
