<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="one">
    <div id="two">

    </div>
    <div id="three"></div>
</div>
</body>
</html>
<style>
    #one{height:700px;width:100%;background:green;display: flex;
    justify-content: center;padding:5%;}
     #two{height:400px;width:40%;background:blue;border:2px solid crimson;border-radius:10px;float:left;}
      #three{height:400px;width:40%;background:red;border:2px solid crimson;border-radius:10px;float:left;margin-left:5%;}
</style>