<body>
<div style="margin-top:0em;margin-right:2em;" class="login">
    <a href="homepage" style="float:right;"><h1>Log Out</h1></a>
    <a href="#" style="float:right;margin-right:4%;"><h1>Change Password</h1></a>
    <h1 style="float:left;">Welcome to UETCL Metering Portal: <span style="color:crimson;width:10%;">{{user}}</span></h1>
</div>
<div class="overall">
  <div class="meter_rec">
    <div class="csv_sub">
        <h1 style="text-align:center;font-size:2em;text-decoration:underline;">UPLOAD MONTHLY RECORDS</h1>
 <form action="{% url 'fillform' %}" method="POST" name="form" id="form" class="form" enctype="multipart/form-data">
  {% csrf_token %}
  <h2 id="hl1">Submit Elster Monthly files here</h2>
  <input type="file" id="myFile_m" name="filename_m" accept=".csv" multiple>
     <br>
  <button type="submit" onclick="submitfunction()">Submit CSV files</button>
 </form>
        <br>
        <br>
        <h2 id="hl2">Submit CEWE Prometer Monthly PDF Files Here</h2>
       <form action="{% url 'prometer' %}" method="POST" name="form_pro" id="form_pro" class="form" enctype="multipart/form-data">
  {% csrf_token %}
           <input type="file" id="prometer" name="prometer" accept=".pdf" multiple>
           <button type="submit" onclick="submitfunction1()">Submit PDF files</button>
       </form>
              <br>
        <br>
        <h2 id="hl3">Submit CEWE Prometer 100 Monthly CSV Files Here</h2>
       <form action="{% url 'prometer_100' %}" method="POST" name="form_pro100" id="form_pro100" class="form" enctype="multipart/form-data">
  {% csrf_token %}
           <input type="file" id="prometer_100" name="prometer_100" accept=".csv" multiple>
           <button type="submit" onclick="submitfunction1()">Submit CSV files</button>
       </form>
        <br>
        <br>
          <h2 id="hl4">Submit Landis & Gyr Monthly Excel Files Here</h2>
       <form action="{% url 'landis' %}" method="POST" name="landis_form" id="landis_form" class="form" enctype="multipart/form-data">
  {% csrf_token %}
           <input type="file" id="landis" name="landis" accept=".xlsx" multiple>
           <button type="submit" onclick="submitfunction1()">Submit Excel files</button>
       </form>

    </div>
<!--        </div>-->
<!--      <h1>SUBMIT PROMETER 100</h1>-->
<!--  </div>-->
            {% if user.is_authenticated and user.is_staff %}

        <div class="other_rec">
      <a href="success"><button type="submit" value="success">Insert Monthly Record Manually</button></a>
    <br>
    <a href="newmeter"><button type="submit" value="newmeter">Add New Metering Point</button></a>
      <br>
      <a href="new_LP"><button type="submit" value="new_LP">Insert Load Profile</button></a>
      <a href="new_job"><button type="submit" value="new_job">Add New Job Summary</button></a>
    <a href="config_file_page"><button type="submit" value="user_page">Add Meter Config File</button></a>
    <a href="querries"><button type="submit" value="querries">Run Querries</button></a>


    </div>
          {% endif %}

  </div>
</div>
<div class="second-div">
    <div class="hist_records" id="hist_records">
        <h1>Upload Historical Records Here</h1>
        <h2>Upload Elster Historical Records Here</h2>
        <form action="{% url 'hist_records' %}" method="POST" name="form_1" id="form_1" class="form_p" enctype="multipart/form-data">
  {% csrf_token %}
        <input type="file" accept=".csv" id="hist" name="hist" multiple>
<!--        <small>Upload file here</small>-->
            <br>
        <button type="submit" id="hist_records_button" onclick="submitfunction()">Submit Historical Record</button>
        </form>
    </div>
   <div class="revenue">
   <!-- <form action="{% url 'umeme' %}" name="revenue" id="revenue">-->
       <!--  {% csrf_token %}-->
    <h1>Generate Monthly Bills</h1>
        <a href="umeme"><button type="submit" value="umeme">Umeme</button></a>
   <!-- <select name="um1" id="um1" style="display:none">
        <option value="umeme" selected></option>
    </select>-->
    <button>UEDCL</button>
    <button>IPPs</button>
    <button>PACKMECS</button>
    <button>KRECS</button>
    <button>BEL</button>
       <!-- </form>-->
</div>

</div>

</body>
<style>
body{background-color: #cccccc;}
    /*Styling for revenue*/
    .csv_sub #hl3, #hl2, #hl1,#hl4{text-decoration:underline;font-size:1.5em;}

    /*.revenue{position:relative;min-height:500px} */
   <!-- .revenue #revenue{width:50%;align:center;text-align:center;height:400px;}-->
    .revenue button{width:25%;display:inline-block;margin:2%;font-size:1.5em;padding:5px;border:2px solid crimson;}
    .revenue h1{text-align:center;text-decoration:underline;font-size:2em;}
     .footer{background:#4CAF50;height:50px;position:absolute;bottom:0px;text-align:center;width:100%;}
     .second-div{width:100%;height:350px;background:#EDF2F6; padding:5px;text-align:center;margin:auto;}
.revenue{width: 49%; float: right;height:300px;border:2px solid black;border-radius:20px;}
.hist_records{width: 49%; float: left;height:300px;border:2px solid black;border-radius:20px;}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .revenue, .hist_records {
    width: 100%;}
</style>
<style>
    h1{font-size:1.5em;text-align: left; color: black; margin-top:auto; }
.overall{}
    button:hover{color:white; background:crimson; border:crimson;}
    form{margin:auto;}
    /*input{padding:10px;margin-left:40%;width:20%;font-size:1.3em;}*/
    .login{width:100%;height:50px;background:#09ADE4;padding:10px;}
    /*.login button{width:8%;padding:2px;border:2px solid green;font-size:1.2em}*/
    .csv_sub{background:#F4F6F7;width: 49%; float: left; height:500px;padding:0px;border-radius:20px; border:2px solid black;margin:2px;}
    .other_rec{background:#09ADE4 ;width: 49%;float: left;height:500px;align:center;border-radius:20px; border:2px solid black;margin:2px;}
    .meter_rec{padding:5px;height:410px;margin-top:2%; }
    .other_rec button{width:80%; font-size:2em;margin-left:10%;margin-top:1.5%;padding:10px;}

    /* form input{padding:10px;margin-left:10%;width:80%;font-size:1.7em;}*/
/*.meter_rec .form h2{margin-top:0px;font-size:2em; text-decoration:underline;text-align: center; color: black;}*/
/*.form_p h2 {margin-top:0px;font-size:2em; text-decoration:underline;text-align: center; color: black;}*/


    form small{margin-left:10%;color:black;font-size:1.2em;}
    .csv_sub form input{padding:5px;float:left;width:40%;font-size:1.2em;}
    .csv_sub form button {width:30%; float:right;border:2px solid crimson;font-size:1.2em;padding:5px;margin-right:20%;}
    /*form button {width:20%; margin-left:20%;font-size:1.5em; padding:5px;border:2px solid crimson;}*/
/* Clear floats after the columns */
.overall:after { content: ""; display: table; clear: both;}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .csv_sub , .other_rec {
    width: 100%;}}
#hist_records_button {width:50%; float:right;border:2px solid crimson;font-size:1.2em;padding:5px;margin-right:20%;}
#hist_records h1 {font-size:2em;text-decoration:underline;text-align:center;text-transform:uppercase;}
#hist_records h2 {font-size:1.5em;text-decoration:underline;text-align:left;}
#hist_records form input{padding:5px;float:left;width:40%;font-size:1.2em;}
</style>
<script language="javascript">
function submitfunction(){
  const main = document.getElementById("myFile_m")
  const hist = document.getElementById("form_1")
  const form = document.getElementById("form")
  const errorElement = document.getElementById("error")
  const mainvalue = document.getElementById("myFile_m").value

  form.addEventListener('submit',(e) =>{
  let messages = []
  if (main.value === '' )
  {alert("Upload at least one csv file")
  e.preventDefault()}

  var fileInput = document.getElementById('myFile_m');
    var filePath = fileInput.value;
    var allowedExtensions = /(\.csv)$/i;
    if(fileInput.value != '' && !allowedExtensions.exec(filePath)){
      alert("Upload csv files only")
      e.preventDefault()
    }
  })
  }
// Event Listener for Historical values
  const new_form = document.getElementById("form_1")
  const hist_file = document.getElementById("hist")
  new_form.addEventListener('submit',(e) =>{
  if (hist_file.value === '' )
  {alert("Upload at least one csv file")
  e.preventDefault()}

    var filePath = hist_file.value;
    var allowedExtensions = /(\.csv)$/i;
    if(hist_file.value != '' && !allowedExtensions.exec(filePath)){
      alert("Upload csv files only")
      e.preventDefault()
    }
  })
function submitfunction1(){
const cewe_p = document.getElementById("prometer")
  const cewe_p100 = document.getElementById("prometer_100")
  const form_p = document.getElementById("form_pro")
  const form_p100 = document.getElementById("form_pro100")
  const errorElement = document.getElementById("error")
  form_p.addEventListener('submit',(e) =>{
  if (cewe_p.value === '' )
  {alert("Upload at least one PDF file")
  e.preventDefault()}
    var filePath = cewe_p.value;
    var allowedExtensions = /(\.pdf)$/i;
    if(cewe_p.value != '' && !allowedExtensions.exec(filePath)){
      alert("Upload PDF files only")
      e.preventDefault()
    }
  })
   form_p100.addEventListener('submit',(e) =>{
  if (cewe_p100.value === '' )
  {alert("Upload at least one CSV file")
  e.preventDefault()}
 var filePath1 = cewe_p100.value;
    var allowedExtensions = /(\.csv)$/i;
    if(cewe_p100.value != '' && !allowedExtensions.exec(filePath1)){
      alert("Upload CSV files only")
      e.preventDefault()
    }
    })

    //LANDIS
      landis_form.addEventListener('submit',(e) =>{
  if (landis.value === '' )
  {alert("Upload at least one excel file")
  e.preventDefault()}
 var filePath1 = landis.value;
    var allowedExtensions = /(\.xlsx)$/i;
    if(landis.value != '' && !allowedExtensions.exec(filePath1)){
      alert("Upload excel files only")
      e.preventDefault()
    }
    })
}
</script>
